In [15]:
import pandas as pd
import os

In [16]:
pwd = os.getcwd()
pwd

'/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW'

In [17]:
data = pd.read_csv(pwd + '/decompressed/FACTPCRARRESTROSC.txt', sep="|", nrows=10)

In [18]:
data

    'PcrKey'~ ~'eArrest_12'
0   1472192 ~   ~7701003
1  13273412 ~   ~7701001
2  14548133 ~   ~7701003
3  17184298 ~   ~7701003
4  21699657 ~   ~7701003
5  21719864 ~   ~7701003
6  72057010 ~   ~7701003
7  73335292 ~   ~7701003
8  79846935 ~   ~7701003
9  81481800 ~   ~7701001

In [19]:
data = data.apply(lambda x: x.str.strip("~ ") if x.dtype == "object" else x)

In [20]:
data

  'PcrKey'~ ~'eArrest_12'
0   1472192       7701003
1  13273412       7701001
2  14548133       7701003
3  17184298       7701003
4  21699657       7701003
5  21719864       7701003
6  72057010       7701003
7  73335292       7701003
8  79846935       7701003
9  81481800       7701001

In [21]:
data = data.apply(pd.to_numeric)

In [22]:
data

   'PcrKey'~  ~'eArrest_12'
0    1472192        7701003
1   13273412        7701001
2   14548133        7701003
3   17184298        7701003
4   21699657        7701003
5   21719864        7701003
6   72057010        7701003
7   73335292        7701003
8   79846935        7701003
9   81481800        7701001

In [23]:
foo = data.iloc[0,1]
foo

7701003

In [24]:
type(foo)

numpy.int64

In [77]:
data = data.rename(columns={"'PcrPatientRaceGroupKey'~":"PcrPatientRaceGroupKey",
                        "~'PcrKey'~":"PcrKey",
                        "~'ePatient_14'":"ePatient_14"
 })

In [16]:
data.dtypes

'PcrKey'~        object
~'eArrest_12'    object
dtype: object

In [79]:
data["PcrKey"] = data['PcrKey'].str.strip("~")
data["ePatient_14"] = data["ePatient_14"].str.strip("~")
data["PcrPatientRaceGroupKey"] = data["PcrPatientRaceGroupKey"].str.strip("~")

In [80]:
data.head()

  PcrPatientRaceGroupKey     PcrKey ePatient_14
0               2088217    1472192   7701003
1              16835623   13273412   2514011
2              18418102   14548133   7701003
3              21377926   17184298   2514011
4              38817731   21699657   2514011

In [82]:
data.to_csv(pwd + '/cleaned/patientRaceGroup.txt')

In [6]:
# next

data = pd.read_csv(pwd + '/decompressed/FACTPCRARRESTROSC.txt', sep="|")
data.head()

    'PcrKey'~ ~'eArrest_12'
0   1472192 ~   ~7701003
1  13273412 ~   ~7701001
2  14548133 ~   ~7701003
3  17184298 ~   ~7701003
4  21699657 ~   ~7701003

In [7]:
data.columns = data.columns.str.strip("~'")
data.head()

       PcrKey   eArrest_12
0   1472192 ~  ~7701003
1  13273412 ~  ~7701001
2  14548133 ~  ~7701003
3  17184298 ~  ~7701003
4  21699657 ~  ~7701003

In [8]:
data = data.apply(lambda x: x.str.strip("~ ") if x.dtype == "object" else x)
data.head()

     PcrKey eArrest_12
0   1472192    7701003
1  13273412    7701001
2  14548133    7701003
3  17184298    7701003
4  21699657    7701003

In [10]:
data1 = pd.read_csv(pwd + '/cleaned/patientRaceGroup.txt', nrows=20)
data1.head()

   Unnamed: 0  PcrPatientRaceGroupKey    PcrKey  ePatient_14
0           0                 2088217   1472192      7701003
1           1                16835623  13273412      2514011
2           2                18418102  14548133      7701003
3           3                21377926  17184298      2514011
4           4                38817731  21699657      2514011

In [14]:
data.to_csv(pwd + '/cleaned/pcrArrestROSC.csv', index=False)

In [1]:
data2 = pd.read_csv(pwd + '/cleaned/pcrArrestROSC.csv', nrows=10)
data2

NameError: name 'pd' is not defined

In [13]:
len(data2.columns)

3

In [16]:
folder = '/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/decompressed/'

In [17]:
os.listdir(folder)

['FACTPCRSECONDARYIMPRESSION.txt',
 'FACTPCRPROCEDURE.txt',
 'PCRVITALECGGROUP.txt',
 'FACTPCRARRESTROSC.txt',
 'FACTPCRBARRIERTOCARE.txt',
 'ESITUATION_10REF.txt',
 'FACTPCRADDITIONALRESPONSEMODE.txt',
 'ComputedElements.txt',
 'ESITUATION_12REF.txt',
 'FACTPCRPROTOCOL.txt',
 'FACTPCRARRESTRESUSCITATION.txt',
 'FACTPCRSCENEDELAY.txt',
 'Pub_PCRevents.txt',
 'FACTPCRCAUSEOFINJURY.txt',
 'PCRPROCCOMPGROUP.txt',
 'FACTPCRVITAL.txt',
 'FACTPCRALCOHOLDRUGUSEINDICATOR.txt',
 'FACTPCRPRIMARYIMPRESSION.txt',
 'PCRVITALGLASGOWQUALIFIERGROUP.txt',
 'FACTPCRARRESTRHYTHMDESTINATION.txt',
 'PCRVITALECGINTERPRETATIONGROUP.txt',
 'FACTPCRPRIMARYSYMPTOM.txt',
 'FACTPCRADDITIONALTRANSPORTMODE.txt',
 'ESITUATION_11REF.txt',
 'FACTPCRRESPONSEDELAY.txt',
 'PCRPATIENTRACEGROUP.txt',
 'FACTPCRDISPATCHDELAY.txt',
 'FACTPCRDESTINATIONTEAM.txt',
 'FACTPCRINJURYRISKFACTOR.txt',
 'FACTPCRTRAUMACRITERIA.txt',
 'EPROCEDURES_03REF.txt',
 'FACTPCRTRANSPORTDELAY.txt',
 'FACTPCRDESTINATIONREASON.txt',
 'FACTPCRARRESTWITNESS.txt',
 'EINJURY_01REF.txt',
 'ESITUATION_09REF.txt',
 'FACTPCRARRESTCPRPROVIDED.txt',
 'FACTPCRADDITIONALSYMPTOM.txt',
 'FACTPCRTURNAROUNDDELAY.txt']